<div class="header">
    <div class="logo-section">
        <img class="logo" src="/assets/Icons/logo.png"/>
    </div>
    <div class="navbar">
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/minutely-graphic.png"/><div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/hourly-graphic.png" /> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/performance-chart.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/difference-endeks.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/heatmap.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/daily-graphic.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/sheet.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/flow-1.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/flow-2.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/export.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/database.png"/> <div class="image-desc">Test</div></a>
        <a routerLink="/empty" class="links"><img class="link-image" src="/assets/Icons/database.png"/> <div class="image-desc">Test</div></a>
    </div>
    <div class="login">
        <button class="login-button"><h3>test@gamil.com</h3> <button class="logout">Logout</button></button>
    </div>
    <div class="navbar-mobile">
        <a routerLink="/empty" class="links-mobile first"><img class="link-image-mobile" src="/assets/Icons/daily-graphic.png" /> <p>Gunluk uretim Grafigi</p></a>
        <a routerLink="/empty" class="links-mobile"><img class="link-image-mobile" src="/assets/Icons/performance-chart.png" /> <p>Performans Grafigi</p></a>
        <a routerLink="/empty" class="links-mobile"><img class="link-image-mobile" src="/assets/Icons/heatmap.png" /> <p>Heatmap</p></a>
        <a routerLink="/empty" class="links-mobile"><img class="link-image-mobile" src="/assets/Icons/difference-endeks.png" /> <p>Gunluk Endeks Farki</p></a>
        <a routerLink="/empty" class="links-mobile"><img class="link-image-mobile" src="/assets/Icons/sheet.png" /> <p>Sayfalar</p></a>
        <a routerLink="/empty" class="links-mobile"><img class="link-image-mobile" src="/assets/Icons/flow-1.png" /> <p>Enerji Akis Diyagrami</p></a>
        <a routerLink="/empty" class="links-mobile"><img class="link-image-mobile" src="/assets/Icons/export.png" /> <p>Excel Indir</p></a>
    </div>
</div>
